@media screen and (max-width: 600px){
    l.left, .right {
        width:100%;
    }
    .left {
        height: 100vh;
        width: 100%;
        border-bottom: 1px solid black;
    }
    .right {
        height: 100vh;
        background-color: gray;
    }
    ul li a {
        margin-left: -10px;
        margin-right: -70px;
        font-size: 18px;
    }
    ul {
        gap: 100px;
    }
    h1 {
        font-size: 30px;
        color: white;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 50px;
        font: sans-serif;
        
    }
    h2 {
        color: black;
        font-size: 80px;
        margin-top: 150px;
        margin-left: 20px;
    }
    .section {
        background-position: center;
        height: 100vh;
        background-size: cover;
        background-image: url(Black\ White\ Minimal\ Book\ Shop\ Desktop\ Prototype_20240904_064535_0000.png);
    }
    p {
        font-size: 30px;
        margin-left: 20px;
    }
    .btn {
        padding: 13px;
        width: 150px;
        margin-left: 25px;
        margin-top: 15px;
        background-color: #2b450c;
        border: none;
        color: white;
        font-size: 20px;
        border-radius: 20px;
    }
    .container {
        width: 80%;
        border: none;
        background-color: #fff;
        margin: 30px auto;
        margin-top: 180px;
        height: 60vh;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 2px;

    }
    label {
        display: flex;
        font-size: 20px;
        margin-left: 20px;
    }
    .credentials {
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    .log {
        color: black;
        text-align: center;
        font-size: 30px;
        padding-top: 20px;
        margin-left: 40px;
    }
    input {
        padding: 12px;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
        border: none;
        background-color: rgb(206, 205, 205);
        border-radius: 10px;
    }
    .in {
        width: 90%;
        margin-left: 20px;
        padding: 10px;
        border: none;
        margin-top: 30px;
        background-color: rgb(52, 15, 204);
        color: #fff;
        font-size: 20px;
        border-radius: 10px;
    }
}
@media screen and (min-width: 600px) and (max-width:900px){
    h1 {
        font-size: 50px;
        color: white;
        margin-left: 10px;
    }
    ul li a {
        font-size: 20px;
        margin-right: -20px;
    }
    .right, .left {
        width: 100%;
    }
    .left {
        height: 100vh;
    }
    .right {
        height: 100vh;
        background-color: gray;
    }
    ul {
        gap: 100px;
    }
    h2 {
        font-size: 100px;
        margin-top: 200px;
        margin-left: 30px;
    }
    p {
        font-size: 30px;
        margin-left: 30px;
    }
    .container {
        width: 60%;
        border: none;
        background-color: #fff;
        height: 60vh;
        margin-top: 150px;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 2px;
        margin-left: 70px;
    }
    .btn {
        padding: 15px;
        background-color: #2b450c;
        width: 150px;
        border: none;
        color: white;
        margin-left: 30px;
        margin-top: 20px;
        font-size: 20px;
        border-radius: 20px;
    }
    .log {
        color: black;
        text-align: center;
        padding-top: 20px;
        font-size: 40px;
    }
    .credentials {
        color: rgb(181, 176, 176);
        text-align: center;
        font-size: 25px;
        margin-bottom: 10px;
    }
    label {
        display: flex;
        font-size: 23px;
        margin-left: 20px;
        margin-bottom: 5px;
    }
    input {
        margin-left: 20px;
        padding: 13px;
        width: 90% ;
        margin-bottom: 20px;
        border: none;
        background-color: rgb(206, 205, 205);
        border-radius: 10px;
    }
    .in {
        padding: 12px;
        width: 90%;
        margin-left: 20px;
        background-color: #2b450c;
        color: #fff;
        font-size: 20px;
        border: none;
        margin-top: 10px;
        border-radius: 20px;
    }
}
@media screen  and (min-width:900px){
    h2 {
        font-size: 100px;
        margin-top: 200px;
        margin-left: 25px;
    }
    p {
        font-size: 25px;
        margin-left: 30px;
    }
    .left{
        width: 60%;
    }
    .right {
        float: right;
        width: 40%;
    }
    .container {
        width: 70%;
        border: none;
        background-color: #fff;
        height: 70vh;
        margin-top: 150px;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 2px;
        margin-left: 70px;
    }
    .log {
        text-align: center;
        padding-top: 40px;
        font-size: 40px;
        color: black;
    }
    .credentials {
        color: gray;
        font-size: 25px;
        text-align: center;
        margin-left: -5px;
        margin-bottom: 20px;
    }
    label {
        display: flex;
        font-size: 25px;
        margin-bottom: 5px;
        margin-left: 20px;
    }
    input {
        padding: 15px;
        border: none;
        background-color: rgb(189, 187, 187);
        width: 90%;
        margin-left: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    h1 {
        color: white;
        font-size: 50px;
    }
    ul {
        gap: 150px;
    }
    .in {
        padding: 13px;
        width: 90%;
        margin-left: 20px;
        border-radius: 10px;
        border: none;
        background-color: #2b450c;
        color: white;
        font-size: 20px;
        margin-top: 10px;
    }
    .btn {
        padding: 15px;
        width: 150px;
        background-color: #2b450c;
        border: none;
        border-radius: 20px;
        color: #fff;
        font-size: 20px;
        margin-left: 30px;
        margin-top: 20px;
    }

    

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    height: 8%;
    background: #2b450c;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 5px 0px;
}
.section {
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-image: url(Black\ White\ Minimal\ Book\ Shop\ Desktop\ Prototype_20240904_064535_0000.png);
}
ul {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 50px;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: rgb(249, 244, 244);
    cursor: pointer;

}
ul li a:hover {
    border-top: 2px solid rgb(250, 247, 247);
    border-bottom: 2px solid rgb(255, 254, 254);
}

.left {
    float: left;
}
.right {
    float: right;
}
.or {
    text-align: center;
    font-size: 20px;
    margin-left: -5px;
}
.sign {
    padding: 13px;
    width: 90%;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(188, 185, 185);
    color: rgb(19, 18, 18);
    font-size: 20px;
}


